@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

*{
  font-family: 'DM Serif Display';
}

.btn{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  background-color: #c92502;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}
